{% extends "base.html" %}
{% block title %}
  Технологии
{% endblock title %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <h1>Вот что я умею</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Python</li>
          <li class="list-group-item">Django</li>
          <li class="list-group-item">GitHub</li>
          <li class="list-group-item">SQL</li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          Данный проект пока ещё находится в разработке и список используемых технологий будет расширяться!
        </p>
      </article>
    </div>
  </div>
{% endblock content %}
